.container {
  padding-top: 3%;
  padding-bottom: 6%;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #1d162d;
  background-image: url('../public/assets/background.png');
  background-size: cover;
  height: 100%;
}

.miniContainer {
  background: #1d162d 0% 0% no-repeat padding-box;
  /* background: red 0% 0% no-repeat padding-box; */
  padding: 20px;
  border-radius: 15px;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  height: 15%;
  width: 30vw;
}
.title {
  text-align: left;
  font: normal normal medium 14px Poppins;
  letter-spacing: 0px;
  color: #2bd67b;
  opacity: 1;
  margin-bottom: 10px;
}

.popover {
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 10;
}
.tokenStats {
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.statContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lpContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
